
  /* Reseteos básicos y box-sizing */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body, #root {
    height: 100%;
    font-family: 'Montserrat Alternates', sans-serif; /* Fuente por defecto */
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
     /* Transición suave para cambio de tema */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Ocultar scrollbar por defecto (opcional, MUI a veces lo maneja) */
  /* body {
    overflow-y: scroll;
  } */
  
  /* Mejoras de accesibilidad */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit; /* Heredar fuente */
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word; /* Evitar desbordamiento de texto */
  }
  
  #root {
    isolation: isolate; /* Crear nuevo contexto de apilamiento */
  }